<div class="row">
	<div class="col-md-12" align="center">
		By Summoner | <%= link_to "By Champion", champions_path %>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Summoner</th>
					<th>Winrate</th>
					<th>Wins</th>
					<th>Losses</th>
				</tr>
			</thead>
			<tbody>
				<% @sorted_winrates.each_index do |i| %>
					<tr>
						<td><%= i + 1 %></td>
						<td><%= link_to @sorted_winrates[i]["object"].name,
										@sorted_winrates[i]["object"] %></td>
						<td align="right"><%= @sorted_winrates[i]["winrate"] %></td>
						<td align="right"><%= @sorted_winrates[i]["wins"] %></td>
						<td align="right"><%= @sorted_winrates[i]["losses"] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
