<div class="row">
	<div class="col-md-12" align="center"><h1><%= @champion.name %></h1></div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Player</th>
					<th>Games</th>
					<th>Winrate</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Kills</th>
					<th>Deaths</th>
					<th>Assists</th>
					<th>CS</th>
					<th>Gold</th>
					<th>Wards</th>
					<th>Greens</th>
					<th>Pinks</th>
				</tr>
			</thead>
			<tbody>
				<% @sorted_player_stats.each do |player| %>
					<tr>
						<td><%= player["object"].name %></td>
						<td align="right"><%= player["stats"]["games"] %></td>
						<td align="right">
							<%= (player["stats"]["wins"].to_f / player["stats"]["games"] * 100).round(1) %>
						</td>
						<td align="right"><%= player["stats"]["wins"] %></td>
						<td align="right"><%= player["stats"]["losses"] %></td>
						<td align="right"><%= player["stats"]["kills"] %></td>
						<td align="right"><%= player["stats"]["deaths"] %></td>
						<td align="right"><%= player["stats"]["assists"] %></td>
						<td align="right"><%= player["stats"]["cs"] %></td>
						<td align="right"><%= player["stats"]["gold"] %></td>
						<td align="right"><%= player["stats"]["wards_placed"] %></td>
						<td align="right"><%= player["stats"]["greens"] %></td>
						<td align="right"><%= player["stats"]["pinks"] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>