<div class="row">
	<div class="col-md-12" align="center"><h1><%= @champion.name %></h1></div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Player</th>
					<th>Games</th>
					<th>Winrate</th>
					<th>Wins</th>
					<th>Losses</th>
					<th>Kills</th>
					<th>Deaths</th>
					<th>Assists</th>
					<th>CS</th>
					<th>Gold</th>
					<th>Wards</th>
					<th>Greens</th>
					<th>Pinks</th>
				</tr>
			</thead>
			<tbody>
				<% @sorted_player_stats.each do |player| %>
					<tr>
						<td><%= player[0] %></td>
						<td align="right"><%= player[1]["games"] %></td>
						<td align="right">
							<%= (player[1]["wins"].to_f / player[1]["games"] * 100).round(1) %>
						</td>
						<td align="right"><%= player[1]["wins"] %></td>
						<td align="right"><%= player[1]["losses"] %></td>
						<td align="right"><%= player[1]["kills"] %></td>
						<td align="right"><%= player[1]["deaths"] %></td>
						<td align="right"><%= player[1]["assists"] %></td>
						<td align="right"><%= player[1]["cs"] %></td>
						<td align="right"><%= player[1]["gold"] %></td>
						<td align="right"><%= player[1]["wards_placed"] %></td>
						<td align="right"><%= player[1]["greens"] %></td>
						<td align="right"><%= player[1]["pinks"] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>